@import "../../Styles/index.scss";

.rental-body {
  padding-left: 300px;
}

.modal {
  z-index: 3;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;

  .background {
    background-color: rgba($color: #000000, $alpha: 0.3);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .cells {
      background-color: white;
      border-radius: 20px;
      padding: 50px;
      position: relative;
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-right: 100px;

      .cell {
        height: 20px;
        margin-bottom: 20px;
      }
    }

    .card {
      background-color: white;
      width: 600px;
      height: 300px;
      border-radius: 20px;
      padding: 50px;
      position: relative;
      display: flex;
      justify-content: center;
      flex-direction: column;

      .input-wrapper {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;

        select {
          margin-top: 10px;
          margin-left: 20px;
          background-color: $theme-color;
          width: 50%;
          height: 100%;
          border-radius: 20px;
          font-size: 18px;
          font-weight: $font-weight-thin;
          text-align: center;
        }

        input {
          margin-top: 10px;
          margin-left: 20px;
          background-color: $theme-color;
          width: 50%;
          height: 100%;
          border-radius: 20px;
          font-size: 18px;
          font-weight: $font-weight-thin;
          text-align: center;
        }
      }

      .cancel {
        display: inline-block;
        background-image: url("https://static.thenounproject.com/png/114046-200.png");
        width: 20px;
        height: 20px;
        background-size: 100%;
        position: absolute;
        top: 15px;
        right: 15px;

        &:hover {
          cursor: pointer;
        }
      }

      .row {
        display: flex;
        justify-content: center;
        align-items: center;

        .key {
          display: flex;
          justify-content: center;
          align-items: center;
          flex: 1;
          background-color: #dbdbdb;
          margin: 0 3px 3px 0;
          height: $table-height;
          font-weight: $font-weight-thin;
        }

        .value {
          flex: 2;
          background-color: $theme-color;
          height: $table-height;
          text-align: center;
          font-size: 15px;
        }

        .wrong {
          flex: 2;
          background-color: $theme-color;
          height: $table-height;
          text-align: center;
          font-size: 17px;
          color: red;
        }
      }

      .button-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 30px;

        button {
          width: 150px;
          height: 30px;
          border-radius: 20px;
          background-color: $theme-color;

          &:hover {
            cursor: pointer;
          }

          &:first-child {
            margin-right: 40px;
          }

          &:last-child {
            margin-left: 40px;
          }
        }
      }
    }
  }
}
