$theme-color: rgba(
  $color: #f1f1f1,
  $alpha: 1
);

$sideWidth: 250px;

.sideBar {
  background-color: $theme-color;
  height: auto;
  min-height: 100vh;
  width: $sideWidth;
  padding-top: 155px;
  display: flex;
  justify-content: center;

  .side-wrapper {
    width: 130px;

    .logo {
      background-image: url("../../Img/logo.png");
      background-repeat: no-repeat;
      width: 100%;
      height: 60px;
      background-size: 80%;
      margin-bottom: 80px;
    }

    ul {
      li {
        margin-bottom: 40px;
        font-size: 20px;
      }
    }
  }
}
