.modifytype-body {
  padding-left: 300px;
  .article {
    margin: auto;
    width: 90%;
    .article-title {
      padding-top: 60px;
      font-size: 35px;
      font-weight: 600;
      color: rgb(65, 65, 65);
      display: flex;
      justify-content: space-between;
    }
    .article-description {
      margin-top: 12px;
      font-weight: 600;
      color: rgb(100, 100, 100);
      margin-left: 4px;
      font-size: 12px;
    }
    .table-firstrow {
      margin-top: 40px;
      height: 34px;
      // background-color: rgb(241, 241, 241);
      display: flex;
      justify-content: space-between;
      width: 25%;

      .cell {
        border-right: 1px solid rgb(161, 161, 161);
        border-bottom: 2px solid rgb(161, 161, 161);
        border-top: 2px solid rgb(161, 161, 161);
        width: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: rgb(73, 73, 73);
        font-weight: 600;
        img {
          width: 10px;
          cursor: pointer;
        }
      }
      .status {
        border-right: none;
      }

      .second {
        border-right: 0;
      }
    }
    .normal-row {
      margin-top: 0;
      .cell {
        border-top: 0;
        border-bottom: 1px solid rgb(161, 161, 161);
        font-weight: 500;
        font-size: 11px;
        input {
          text-align: center;
        }
      }

      input {
        text-align: center;
      }
    }
    .buttons {
      margin-top: 20px;
      width: 25%;
      display: flex;
      justify-content: space-between;
      button {
        display: none;
      }
      .button {
        font-size: 10px;
        border-radius: 5px;
        background-color: rgb(219, 219, 219);
        color: rgb(133, 133, 133);
        padding: 0px 6px;
        height: 24px;
        display: flex;
        align-items: center;
        cursor: pointer;
        &:hover {
          background-color: rgb(138, 138, 138);
          color: rgb(255, 255, 255);
        }
      }
      .redbtn {
        background-color: rgb(252, 154, 154);
        color: rgb(47, 47, 47);
        &:hover {
          background-color: rgb(255, 106, 106);
          color: rgb(255, 255, 255);
        }
      }
      .lessred {
        background-color: rgb(253, 194, 194);
      }
      .lastbtn {
        margin: 0;
      }
      .warning {
        margin-top: 15px;
        position: absolute;
        font-size: 10px;
        color: rgb(70, 70, 70);
        display: flex;
        align-items: center;
        .button {
          font-size: 1px;
          height: 20px;
          text-align: center;
          margin-left: 8px;
        }
      }
    }
  }
}
.norender {
  display: none;
}
