@import "../../Styles/index.scss";

.navigation-bigger-wrapper {
  .navigation-wrapper {
    width: $nav-width;
    height: 100vh;
    background-color: #e6e6e6;
    position: fixed;
    padding: 50px 12px 0 12px;

    .navigation-logocontainer {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      margin-bottom: 45%;
      font-size: 25px;
      font-weight: 700;
      letter-spacing: 2px;

      .logo-class {
        color: #e6e6e6;
        background-color: rgb(85, 85, 85);
        padding: 8px;
      }

      .logo-101 {
        color: #e6e6e6;
        background-color: rgb(85, 85, 85);
        margin-left: 4px;
        padding: 8px;
      }
    }

    .navigation {
      font-size: 19px;
      line-height: 20px;
      letter-spacing: -0.3px;
      color: black;
      height: 100%;
      display: flex;
      flex-direction: column;
      .open-asset-container {
        cursor: pointer;
        // display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 12px 15px 24px;
        margin-left: 20px;

        .asset-title {
          color: rgb(73, 73, 73);
          font-weight: 600;
        }

        .asset-taps {
          margin-top: 12px;
          margin-left: 7px;
          font-size: 17px;
          font-weight: 500;
          color: rgb(93, 93, 93);
          overflow: hidden;

          height: 180px;

          @keyframes handleContents1 {
            0% {
              height: 1px;
            }
            100% {
              height: 180px;
            }
          }

          .tap-false {
            margin-bottom: 16px;
            color: rgb(93, 93, 93);
          }
          .tap {
            color: black;
            font-weight: 650;
            margin-bottom: 16px;
          }
        }
        .norender {
          margin-left: 7px;
          font-size: 17px;
          font-weight: 500;
          color: rgb(93, 93, 93);
          overflow: hidden;
          height: 0;
          animation: handleContents2 0.5s;
          @keyframes handleContents2 {
            0% {
              margin-top: 12px;
              height: 180px;
            }
            90% {
              margin-top: 6px;
            }
            100% {
              margin-top: 0;
              height: 0;
            }
          }

          .tap-false {
            margin-bottom: 16px;
            color: rgb(93, 93, 93);
          }
          .tap {
            color: black;
            font-weight: 650;
            margin-bottom: 16px;
          }
        }
      }

      .navigation-text-wrap {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 12px 15px 24px;
        margin-left: 20px;

        .navigation-text {
          color: rgb(73, 73, 73);
          font-weight: 600;
        }
      }

      .navigation-text-wrap-done {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 12px 15px 24px;
        background-color: #d4d4d4;
        border-radius: 5px;
        margin-bottom: 13px;
        margin-left: 20px;

        .navigation-text {
          color: rgb(73, 73, 73);
          font-weight: 600;
        }
      }
    }
  }
}
