.roulette-body {
  margin-left: 316px;
  background-color: #ebedff;
  .rl-title {
    padding-top: 50px;
    font-size: 40px;
    margin-left: 50px;
    font-weight: 450;
  }
  .rl-result-container {
    margin-top: 30px;
    padding: 25px;
    background-color: #a9b4ff;
  }
}
