.roulette-body {
  margin-left: 316px;
  .rl-empty {
    height: 60px;
  }
  .rl-result {
    padding-top: 20px;
    padding-bottom: 20px;
    opacity: 1;
    animation: handleList 2.5s;
    @keyframes handleList {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    .rl-uppercontainer {
      margin: auto;
      width: 85%;
      display: flex;

      justify-content: center;

      .rl-title {
        font-size: 30px;
        font-weight: 500;
      }
    }
    .rl-buttoncontainer {
      margin: auto;
      width: 85%;
      display: flex;

      justify-content: flex-end;
      button {
        width: 70px;
        height: 40px;
        outline: none;
        margin-right: 20px;
        background-color: rgb(122, 122, 122);
        color: white;
        font-weight: 500;
        font-size: 14px;
        margin-bottom: 10px;
        &:hover {
          background-color: rgb(59, 59, 59);
        }
      }
    }
    .rl-inputs-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 670px;
      flex-wrap: wrap;
      width: 85%;
      justify-content: center;
      margin: auto;

      input {
        text-align: center;
        outline: none;
        border: none;
        font-size: 14px;
        width: 17%;
        display: block;
        justify-content: center;
        background-color: #f0f0f0;
        height: 20px;
        color: rgb(104, 104, 104);
        &:hover {
          background-color: #e7e7e7;
          width: 18.1%;
        }
      }
      .input-second {
        padding-top: 6px;
        &:hover {
          background-color: #d6d6d6;
        }
      }
      .input-last {
        height: 6px;
      }
      // .input-last {
      //   height: 1px;
      //   margin-top: 5px;
      //   padding-top: 2px;
      //   padding-top: 3px;
      //   font-size: 16px;
      //   background-color: #e6e6e6;
      //   &:hover {
      //     background-color: #d6d6d6;
      //   }
      // }
      .input-leader {
        height: 24px;
        margin-top: 5px;
        padding-top: 2px;
        font-size: 16px;
        background-color: #e6e6e6;
        color: black;
        &:hover {
          background-color: #d6d6d6;
        }
      }
    }
  }

  .rl-result-container {
    padding: 25px;
    background-color: #a9b4ff;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    opacity: 1;
    animation: handleList 3s;
    @keyframes handleList {
      0% {
        opacity: 0.2;
      }
      100% {
        opacity: 1;
      }
    }
    .rl-uppercontainer {
      width: 100%;
      display: flex;
      margin-bottom: 20px;
      justify-content: space-between;
      .rl-title {
        font-size: 35px;
        margin-left: 50px;
        font-weight: 450;
      }

      button {
        width: 100px;
        height: 40px;
        margin-right: 16px;
        border-radius: 5px;
        outline: none;
        background-color: #5a66b1;
        color: white;
        font-weight: 500;
        font-size: 14px;
      }
    }
  }
  .rl-runsection {
    display: flex;
    align-items: center;
    flex-direction: column;
    .runsection-title {
      font-size: 45px;
      font-weight: 600;
      margin-bottom: 20px;
    }
    .runsection-gif {
      border-radius: 50%;
      width: 200px;
    }
  }
  .history-container {
    width: 95%;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    margin-bottom: 100px;
    border: 1px solid rgb(156, 110, 255);
    background-color: rgb(208, 186, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-bottom: 10px;
    .rl-uppercontainer {
      width: 100%;
      display: flex;
      margin-bottom: 20px;
      justify-content: space-between;
      padding-top: 30px;
      .rl-title {
        font-size: 35px;
        margin-left: 30px;
        font-weight: 450;
      }
    }
    .rl-groupcontainer {
      width: 97%;
      margin: auto;
    }
  }
}
